* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*-------------------------------------HEADER----------------------------------*/
.nav-bar {
    display: flex;
    justify-content: end;
    padding: .3rem;
    margin-bottom: 3rem;
    
}

.nav-bar button {
    padding: .2rem .3rem;
    font-size: 16px;
}

.nav-bar i {
    padding: .1rem .2rem;
}

button {
    background-color: rgb(74, 74, 74);
    color: white;
    padding: .2rem .3rem;
    margin: .3rem;
    border: 0;
    border-radius: 5px;
}
button:hover, select:hover{
    cursor: pointer;
}
/*---------------------------------------MAIN---------------------------------*/
main {
    height: 100vh;
    flex-grow: auto;
    overflow: auto;
}

.container {
    max-width: 1800px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.profile-student {
    position: relative;
    flex-direction: row;
}

.profile-student button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 1rem 0;
    border-radius: 0;
    background-color: rgba(74, 74, 74, .5);
}
/*---------------------------------------FOOTER------------------------------*/
footer {
    background-color: #222222;
}

.footer-container {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.left{
    display: flex;
}
span{
    display:block;
}
.selection{
    color: white;
    display: inline-block;
}
.green i:first-child{
    color:#4BC800;
}
.footer-container button{   
    padding: 1rem;
    font-size: 30px;
    background-color: transparent;   
}

.footer-container .right button:last-child{
    border-radius: 0;
    background-color: rgba(74, 74, 74); 
    color: red;
    font-size: 16px;
    
}
.footer-container span{
    padding: .5rem;
    font-size: 16px;
}